In [1]:
import pandas as pd

In [13]:
rating_data = pd.read_csv('archive2/ratings.csv')
movie_data = pd.read_csv('archive2/movies.csv')
rating_data.drop('timestamp',axis = 1,inplace =True)
movie_data.drop('genres',axis = 1,inplace = True)

In [14]:
merge_data = pd.merge(rating_data, movie_data, on = 'movieId')

In [15]:
merge_data

        userId  movieId  rating                                 title
0            1       31     2.5                Dangerous Minds (1995)
1            7       31     3.0                Dangerous Minds (1995)
2           31       31     4.0                Dangerous Minds (1995)
3           32       31     4.0                Dangerous Minds (1995)
4           36       31     3.0                Dangerous Minds (1995)
...        ...      ...     ...                                   ...
99999      664    64997     2.5              War of the Worlds (2005)
100000     664    72380     3.5                       Box, The (2009)
100001     665      129     3.0                 Pie in the Sky (1996)
100002     665     4736     1.0                   Summer Catch (2001)
100003     668     6425     1.0  6th Man, The (Sixth Man, The) (1997)

[100004 rows x 4 columns]

In [16]:
u_m_rating = merge_data.pivot_table('rating',columns = 'title',index = 'userId')

In [20]:
u_m_rating = u_m_rating.fillna(0)

In [24]:
m_u_rating = u_m_rating.values.T

In [26]:
m_u_rating.shape

(9064, 671)

In [35]:
from sklearn.decomposition import TruncatedSVD
from scipy.sparse import random as sparse_random
import numpy as np

In [29]:
SVD = TruncatedSVD(n_components=12)
matrix = SVD.fit_transform(m_u_rating)

In [36]:
#Pearson corr
corr = np.corrcoef(matrix)

In [79]:
corr.shape

(9064, 9064)

In [59]:
movie_title = u_m_rating.columns
l_m_title = list(movie_title)
m_idx = l_m_title.index("Guardians of the Galaxy (2014)")

In [60]:
corr_coffey_hands = corr[m_idx]

In [84]:
def recommend(title):
    idx = l_m_title.index(title)
    return list(movie_title[corr[idx]>=0.9])[:50]

In [85]:
recommend("Guardians of the Galaxy (2014)")

['2 Guns (2013)',
 '2012 (2009)',
 '21 (2008)',
 '300: Rise of an Empire (2014)',
 'Abduction (2011)',
 'Adjustment Bureau, The (2011)',
 'Adventures of Tintin, The (2011)',
 'Alice in Wonderland (2010)',
 'Amazing Spider-Man, The (2012)',
 'Angels & Demons (2009)',
 'Ant-Man (2015)',
 'Avatar (2009)',
 'Avengers, The (2012)',
 'Avengers: Age of Ultron (2015)',
 'Batman: The Dark Knight Returns, Part 1 (2012)',
 'Batman: The Dark Knight Returns, Part 2 (2013)',
 'Battle: Los Angeles (2011)',
 'Beowulf (2007)',
 'Big Hero 6 (2014)',
 'Bolt (2008)',
 'Book of Eli, The (2010)',
 'Brave (2012)',
 'Captain America: Civil War (2016)',
 'Captain America: The First Avenger (2011)',
 'Captain America: The Winter Soldier (2014)',
 'Chronicle (2012)',
 'Click (2006)',
 'Cloverfield (2008)',
 'Cop Out (2010)',
 'Dark Knight Rises, The (2012)',
 'Diary of a Wimpy Kid (2010)',
 'District 9 (2009)',
 'Dredd (2012)',
 'Drillbit Taylor (2008)',
 'Edge of Tomorrow (2014)',
 'Elysium (2013)',
 "Ender's Game (2013)",
 'Ex Machina (2015)',
 'Fright Night (2011)',
 'Fury (2014)',
 'Get Smart (2008)',
 'Ghost Rider: Spirit of Vengeance (2012)',
 'Girl with the Dragon Tattoo, The (2011)',
 'Gone Girl (2014)',
 'Gravity (2013)',
 'Green Hornet, The (2011)',
 'Green Lantern (2011)',
 'Guardians of the Galaxy (2014)',
 'Hancock (2008)',
 'Hellboy II: The Golden Army (2008)']