In [12]:
import pandas as pd
import numpy as np
r_data = pd.read_csv('archive2/ratings.csv')
m_data = pd.read_csv('archive2/movies.csv')

In [6]:
u_m_rating = r_data.pivot(
    index = 'userId',
    columns = 'movieId',
    values = 'rating'
).fillna(0)

In [29]:
matrix = u_m_rating.values

#user mean
user_mean = np.mean(matrix,axis = 1)

matrix_u_mean = matrix-user_mean.reshape(-1,1)

In [34]:
matrix_u_mean

array([[-0.00562541, -0.00562541, -0.00562541, ..., -0.00562541,
        -0.00562541, -0.00562541],
       [-0.02923009, -0.02923009, -0.02923009, ..., -0.02923009,
        -0.02923009, -0.02923009],
       [-0.02007501, -0.02007501, -0.02007501, ..., -0.02007501,
        -0.02007501, -0.02007501],
       ...,
       [-0.01367748, -0.01367748, -0.01367748, ..., -0.01367748,
        -0.01367748, -0.01367748],
       [ 3.98698434, -0.01301566, -0.01301566, ..., -0.01301566,
        -0.01301566, -0.01301566],
       [ 4.95030885, -0.04969115, -0.04969115, ..., -0.04969115,
        -0.04969115, -0.04969115]])

In [36]:
pd.DataFrame(matrix_u_mean, columns = u_m_rating.columns).head()

movieId,1,2,3,4,5,6,7,8,9,10,...,161084,161155,161594,161830,161918,161944,162376,162542,162672,163949
0,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,...,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625,-0.005625
1,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,3.970770,...,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230,-0.029230
2,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,...,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075,-0.020075
3,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,3.902162,...,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838,-0.097838
4,-0.043128,-0.043128,3.956872,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,...,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128,-0.043128

In [45]:
from numpy.linalg import svd
from scipy.sparse.linalg import svds

In [49]:
U, sigma, Vt = svds(matrix_u_mean , k = 12)

In [50]:
U.shape, sigma.shape, Vt.shape

((671, 12), (12,), (12, 9066))

In [52]:
#0이 포함된 대칭 행렬 변환
sigma = np.diag(sigma)

In [55]:
svd_user = np.dot(np.dot(U,sigma),Vt)+user_mean.reshape(-1,1)

In [57]:
svd_pred = pd.DataFrame(svd_user, columns = u_m_rating.columns)

In [70]:
def recommand(svd_pred,u_id, ori_movies,ori_ratings,num_recommendation = 5):
    
    user_idx = u_id -1
    print("A",user_idx)
    sorted_u_predictions = svd_pred.iloc[user_idx].sort_values(ascending = False)
    print("B",sorted_u_predictions)
    
    user_data = ori_ratings[ori_ratings.userId == u_id]
    print("C",user_data)
    user_history = user_data.merge(ori_movies, on = 'movieId').sort_values(['rating'],ascending = False)
    print("D",user_history)
    
    #없는거 표시
    recommendation = ori_movies[~ori_movies['movieId'].isin(user_history['movieId'])]
    print("F",recommendation)
    recommendation = recommendation.merge(pd.DataFrame(sorted_u_predictions).reset_index(), on = 'movieId')
    print("G",recommendation)
    recommendation = recommendation.rename(columns = {user_idx:'Predictions'}).sort_values('Predictions',ascending = False)
    print("H",recommendation)

In [68]:
r_data.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [71]:
recommand(svd_pred,330,m_data,r_data,10)

A 329
B movieId
318     2.078816
296     2.060064
593     1.927825
356     1.772814
527     1.663605
          ...
2140   -0.148684
7373   -0.150847
1215   -0.175392
2005   -0.219911
3033   -0.221206
Name: 329, Length: 9066, dtype: float64
C        userId  movieId  rating  timestamp
45916     330       16     3.0  948574059
45917     330       22     3.0  948576623
45918     330       25     3.0  948577275
45919     330       32     4.0  948578017
45920     330       41     5.0  948577200
...       ...      ...     ...        ...
46006     330     3100     4.0  948577933
46007     330     3246     4.0  948577543
46008     330     3256     3.0  948576674
46009     330     3258     2.0  948575129
46010     330     3260     4.0  948577232

[95 rows x 4 columns]
D     userId  movieId  rating  timestamp  \
47     330     1094     5.0  948577200
14     330      213     5.0  948577039
34     330      527     5.0  948577164
45     330     1035     5.0  948574126
48     330     1172     5.0  948575236
..     ...      ...     ...        ...
70     330     1777     1.0  948731214
57     330     1407     1.0  948576674
43     330     1028     1.0  948576871
41     330      924     1.0  948574466
66     330     1639     1.0  948577897

                                             title  \
47                         Crying Game, The (1992)
14  Burnt by the Sun (Utomlyonnye solntsem) (1994)
34                         Schindler's List (1993)
45                      Sound of Music, The (1965)
48  Cinema Paradiso (Nuovo cinema Paradiso) (1989)
..                                             ...
70                      Wedding Singer, The (1998)
57                                   Scream (1996)
43                             Mary Poppins (1964)
41                    2001: A Space Odyssey (1968)
66                              Chasing Amy (1997)

                             genres
47           Drama|Romance|Thriller
14                            Drama
34                        Drama|War
45                  Musical|Romance
48                            Drama
..                              ...
70                   Comedy|Romance
57   Comedy|Horror|Mystery|Thriller
43  Children|Comedy|Fantasy|Musical
41           Adventure|Drama|Sci-Fi
66             Comedy|Drama|Romance

[95 rows x 6 columns]
F       movieId                                              title  \
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
...       ...                                                ...
9120   162672                                Mohenjo Daro (2016)
9121   163056                               Shin Godzilla (2016)
9122   163949  The Beatles: Eight Days a Week - The Touring Y...
9123   164977                           The Gay Desperado (1936)
9124   164979                              Women of '69, Unboxed

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9120                      Adventure|Drama|Romance
9121              Action|Adventure|Fantasy|Sci-Fi
9122                                  Documentary
9123                                       Comedy
9124                                  Documentary

[9030 rows x 3 columns]
G       movieId                                              title  \
0           1                                   Toy Story (1995)
1           2                                     Jumanji (1995)
2           3                            Grumpier Old Men (1995)
3           4                           Waiting to Exhale (1995)
4           5                 Father of the Bride Part II (1995)
...       ...                                                ...
8966   161944              The Last Brickmaker in America (2001)
8967   162376                                    Stranger Things
8968   162542                                      Rustom (2016)
8969   162672                                Mohenjo Daro (2016)
8970   163949  The Beatles: Eight Days a Week - The Touring Y...

                                           genres       329
0     Adventure|Animation|Children|Comedy|Fantasy  1.012567
1                      Adventure|Children|Fantasy  0.448386
2                                  Comedy|Romance  0.278312
3                            Comedy|Drama|Romance  0.072011
4                                          Comedy  0.248104
...                                           ...       ...
8966                                        Drama  0.010319
8967                                        Drama -0.032435
8968                             Romance|Thriller  0.007399
8969                      Adventure|Drama|Romance  0.007130
8970                                  Documentary -0.001576

[8971 rows x 4 columns]
H       movieId                      title  \
246       296        Pulp Fiction (1994)
294       356        Forrest Gump (1994)
497       608               Fargo (1996)
487       590  Dances with Wolves (1990)
316       380           True Lies (1994)
...       ...                        ...
1619     2140   Dark Crystal, The (1982)
5028     7373             Hellboy (2004)
918      1215    Army of Darkness (1993)
1490     2005        Goonies, The (1985)
2348     3033          Spaceballs (1987)

                                        genres  Predictions
246                Comedy|Crime|Drama|Thriller     2.060064
294                   Comedy|Drama|Romance|War     1.772814
497                Comedy|Crime|Drama|Thriller     1.526111
487                    Adventure|Drama|Western     1.508960
316   Action|Adventure|Comedy|Romance|Thriller     1.276646
...                                        ...          ...
1619                         Adventure|Fantasy    -0.148684
5028           Action|Adventure|Fantasy|Horror    -0.150847
918     Action|Adventure|Comedy|Fantasy|Horror    -0.175392
1490  Action|Adventure|Children|Comedy|Fantasy    -0.219911
2348                             Comedy|Sci-Fi    -0.221206

[8971 rows x 4 columns]